/*  Project 2 - Stylish Resume  */
/*  Ryan Bierly - 09/07/2021    */

/*
    This is for the banner with Title and links
    Should work as a fixed position banner
*/
#page-banner {
    position: fixed;
    background-color: wheat;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    font-family: fantasy;
    font-size: 100%;
    width: 100%;
    height: 150px;
    padding-left: 36%;
}

/* background of the whole page */
body {
    background-color: rgb(164, 202, 226);
    margin: 0%;
}

.education-section {
    padding-bottom: 250px; /* add padding to bottom so education link works nicely */
}

section {
    padding-top: 150px; /* add padding so the banner doesn't block anything on banner links */
}

.section-header {
    padding-left: 40%;
    font-size: 150%;
}

.skills-section {
    width: 100%;
}

.skills-div {
    float: left;
    padding-left: 2%;
    width: 50%;
    height: 275px;
    box-sizing: border-box;
    border: 5px solid black;
}

.contact-section {
    width: 100%;
}

.contact-div {
    float: left;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}

#profile-image {
    padding-left: 30%;
}