/*  Project 2 - Stylish Resume  */
/*  Ryan Bierly - 09/17/2021    */

/*  
    effects the top section only
    position fixed to make it follow the page as a banner
*/
#page-banner {
    position: fixed;
    background-color: midnightblue;
    font-family: fantasy;
    font-size: 1em;
    width: 100%;
    height: 8em;
    text-align: center;
    color: beige;
}

/* actions when hovering over banner links */
#page-banner a:hover {
    color: white;
    font-size: larger;
}

/* have the page background be black with white text and no margins */
body {
    background-color: rgb(32, 33, 36);
    color: white;
    margin: 0%;
    padding-bottom: 40em;
}

/* keep page links white due to blue background */
a {
    color: white;
}

/* start each section 7em down (for page banner) */
section {
    padding-top: 7em;
}

/* effects every section header */ 
.section-header {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: .2em solid white;
    border-radius: 1em;
}

/* effects only the contact divs */
.contact-div {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* effects all divs within sections */
.section-div {
    padding-left: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}