/*  Project 2 - Stylish Resume  */
/*  Ryan Bierly - 09/07/2021    */

/*
    This is for the banner with Title and links
    Should work as a fixed position banner
*/
#page-banner{
    position: fixed;
    background-color: wheat;
    font-family: fantasy;
    font-size: 1em;
    width: 100%;
    height: 8em;
    text-align: center;
    color: blueviolet;
}

#page-banner a:hover {
    color: blueviolet;
    font-size: larger;
}

/* background of the whole page */
body {
    background-color: rgb(164, 202, 226);
    margin: 0%;
}

.education-section {
    padding-bottom: 250px; /* add padding to bottom so education link works nicely */
}

section {
    padding-top: 8em; /* add padding so the banner doesn't block anything on banner links */
}

/* format all section headers to be centered */
.section-header {
    text-align: center;
    font-size: 150%;
}

/* make the contacts section centered */
.contact-div {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* make the skills section span the screen width */
.skills-section {
    width: 100%;
}

/* make the 2 sections of skills be side by side bordered */
.skills-div {
    float: left;
    padding-left: 2%;
    width: 50%;
    height: 250px;
    box-sizing: border-box;
    border: 5px solid black;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.experience-section {
    padding-top: 30px;
    padding-left: 2%;
}

.projects-section {
    padding-left: 2%;
}

.education-section {
    padding-left: 2%;
}